.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  width: 100%;
  height: 2.5rem;
  background-color: #504658;
}

.App {
  text-align: center;

}

/* .App-logo {
  height: 40vmin;
} */
a.nav-link{
  color:#39375b;
}
a.navbar-brand{
  color:#39375b;
  font-weight:bold;
}
.App-header {
  background-color: #504658;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;


}


.App-link {
  color: #09d3ac;
}
